{% extends "base.html" %}



{% block content %}
    <h2>Ente</h2>

        <b>Denominazione: </b>:
        {{ ente.denominazione }}<br/>

        <b>Codice fiscale</b>:
        {{ ente.codice_fiscale }}<br/>

        <b>Numero partecipate</b>:
        {{ ente.n_partecipate }}

        <a name="toc"></a>
        <ul>
          <li>
            Partecipate
            <ul>
              <li><a href="#part_tipologia">Elenco per tipologia</a></li>
              <li><a href="#part_competenze">Elenco per competenze</a></li>
              <li><a href="#part_resoconto">Elenco per resoconto di bilancio</a></li>
            </ul>
          </li>
          <li>
            Amministratori
            <ul>
              <li><a href="#amm_tot">Numero totale</a></li>
              <li><a href="#amm_eta">Per fascie d'et&agrave;</a></li>
              <li><a href="#amm_tipo">Per tipo d'incarico</a></li>
              <li><a href="#amm_politici">Elenco dei politici (OP)</a></li>
              <li><a href="#amm_incarichi">Elenco ordinato per numero di incarichi</a></li>
              <li><a href="#amm_compenso">Elenco ordinato per compenso</a></li>              
            </ul>
          </li>
        </ul>
        
        <a name="part_tipologia"></a>
        <h3>Elenco partecipate per tipologia</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for p in partecipate_by_tipologia %}
                <tr>
                    <td>{{ p.tipologia_partecipata }}</td>
                    <td class="denominazione">{{ p.denominazione }}</td>
                </tr>
            {% endfor %}
        </table>

        <a name="part_competenze"></a>
        <h3>Elenco partecipate per competenze</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for p in partecipate_by_competenza %}
                <tr>
                    <td>{{ p.competenza_partecipata }}</td>
                    <td>{{ p.denominazione }}</td>
                </tr>
            {% endfor %}
        </table>

        <a name="part_resoconto"></a>
        <h3>Elenco partecipate per resoconto di bilancio</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for p in partecipate_by_resoconto %}
                {% if p.ultimo_bilancio %}
                    <tr>
                        <td>{{ p.ultimo_bilancio.get_resoconto_display }} ({{ p.ultimo_bilancio.anno }})</td>
                        <td>{{ p.denominazione }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <h2>Amministratori</h2>

        <a name="amm_tot"></a>
        <h3>Numero totale</h3>
        <a href="#toc">Torna su</a>
        <table>
            <tr>
                <td>Totale</td>
                <td>{{ n_amministratori }} ({{ n_amministratori_uomini }} uomini e {{ n_amministratori_donne }} donne)</td>
            </tr>
        </table>

        <a name="amm_eta"></a>
        <h4>Per fascie d'età</h4>
        <a href="#toc">Torna su</a>
        <table>
            <tr>
                <td>under 25</td>
                <td>{{ n_amministratori_under_25 }}
                  ({{ n_amministratori_under_25_uomini }} uomini e {{ n_amministratori_under_25_donne }} donne)</td>
            </tr>
            <tr>
                <td>tra 25 e 35</td>
                <td>{{ n_amministratori_under_35 }}
                  ({{ n_amministratori_under_35_uomini }} uomini e {{ n_amministratori_under_35_donne }} donne)</td>
            </tr>
            <tr>
                <td>tra 35 e 45</td>
                <td>{{ n_amministratori_under_45 }}
                  ({{ n_amministratori_under_45_uomini }} uomini e {{ n_amministratori_under_45_donne }} donne)</td>
            </tr>
            <tr>
                <td>tra 45 e 55</td>
                <td>{{ n_amministratori_under_55 }}
                  ({{ n_amministratori_under_55_uomini }} uomini e {{ n_amministratori_under_55_donne }} donne)</td>
            </tr>
            <tr>
                <td>tra 55 e 65</td>
                <td>{{ n_amministratori_under_65 }}
                  ({{ n_amministratori_under_65_uomini }} uomini e {{ n_amministratori_under_65_donne }} donne)</td>
            </tr>
            <tr>
                <td>over 65</td>
                <td>{{ n_amministratori_over_65 }}
                  ({{ n_amministratori_over_65_uomini }} uomini e {{ n_amministratori_over_65_donne }} donne)</td>
            </tr>
            <tr>
                <td>data sconosciuta</td>
                <td>{{ n_amministratori_unknown }}
                  ({{ n_amministratori_unknown_uomini }} uomini e {{ n_amministratori_unknown_donne }} donne)</td>
            </tr>
        </table>

        <a name="amm_tipo"></a>
        <h4>Per tipo di incarico</h4>
        <a href="#toc">Torna su</a>
        <table>
            {% for c in n_amministratori_tipo_carica %}
              {% if c.tot %}
                <tr>
                  <td>{{ c.denominazione }}</td>
                  <td>{{ c.tot }} ({{c.uomini}} uomini, {{c.donne}} donne)</td>
                </tr>                
              {% endif %}
            {% endfor %}
        </table>

        <a name="amm_politici"></a>
        <h3>Amministratori che sono politici</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for a in amministratori_politici %}
                <tr>
                    <td>
                        {{ a.persona }}
                    </td>
                    <td><a href="{{ OP_URL }}/politico/{{ a.persona.openpolis_id }}" target="_blank">vai</a></td>
                </tr>
            {% endfor %}
        </table>


        <a name="amm_incarichi"></a>
        <h3>Amministratori per n incarichi</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for a in amministratori_incarichi %}
                <tr>
                    <td>
                        {{ a }}
                    </td>
                    <td>{{ a.n }} incarichi</td>
                </tr>
            {% endfor %}
        </table>


        <a name="amm_compenso"></a>
        <h3>Amministratori per compenso</h3>
        <a href="#toc">Torna su</a>
        <table>
            {% for a in amministratori_compensi %}
                <tr>
                    <td>
                        {{ a }}
                    </td>
                    <td>
                      {% if a.s %}
                        {{ a.s }} euro
                      {% else %}
                        -
                      {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>

    <br/>
    <a href="/">Torna alla ricerca</a>
{% endblock %}


{% block css_styles %}
    {{ block.super }}
    <style>
        table { width: 40em; margin-top: 1em; border: 1px solid black}
        th { background-color: #d3d3d3; }
        td { border: 1px solid gray; padding: 0.25em }
        td { width: 50%;}
    </style>
{% endblock %}
