{% extends base_template %}

{% block nominati_class %}class="active"{% endblock %}

{% block content%}

    {% block table %}
        <h3 xmlns="http://www.w3.org/1999/html">Lista Nominati</h3>
        <table id="lista_nominati">

            <tr class="ln_header">
                <td class="ln_nome">
                    Nome
                    </a>
                </td>
                <td class="ln_incarichi">
                    <table class="lista_nominati_inc">
                        <tr>
                            <td class="ln_carica">
                                Carica
                            </td>
                            <td class="ln_partecipata">
                                Partecipata
                            </td>
                            <td class="ln_ente">
                                Ente
                            </td>
                            <td class="ln_compenso">
                                Compenso<BR>totale
                        </tr>
                    </table>
                </td>
            </tr>

            {% regroup table by persona as persona_list %}
                {% for persona in persona_list %}
                    <tr>
                        <td class="ln_nome">
                            <a href="{{ SITE_URL }}/admin/nominati/persona/{{persona.grouper.pk}}" target="_blank">
                                {{ persona.grouper }}
                                </a>
                        </td>
                        <td class="ln_incarichi">
                            <table class="lista_nominati_inc">
                                {% for item in persona.list %}
                                    <tr>
                                    <td class="ln_carica">{{ item.tipo_carica }}</td>
                                    <td class="ln_partecipata">
                                        <a href="{{ SITE_URL }}/admin/nominati/partecipata/{{item.partecipata_cf.codice_fiscale}}" target="_blank">
                                            {{ item.partecipata_cf }}
                                        </a>
                                    </td>
                                    <td class="ln_ente">
                                        {% if item.ente_nominante_cf%}
                                            <a href="{{ SITE_URL }}/admin/nominati/ente/{{item.ente_nominante_cf.codice_fiscale}}">
                                                {{ item.ente_nominante_cf}}
                                            </a>
                                        {% else %}
                                            -
                                        {% endif %}

                                    </td>

                                    <td class="ln_compenso">{{ item.compenso_totale|default_if_none:"-" }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                {% endfor %}
        </table>
    {% endblock %}
{% endblock %}


