{% extends "nominati/regione_detail.html" %}

{% block title %}
    Nazione
{% endblock %}


{% block sidebar %}
    <div id="sidebar">
        <h2>Nazione</h2>

        <b>Numero partecipate</b><BR>
        {{ n_partecipate }}<BR>


        <div id="toc">
            <b>Partecipate</b>
            <ul>
                <li {% block tipologia_class %}{% endblock %}><a href="/nazione/?tipo=part_tipologia">Elenco per tipologia</a></li>
                <li {% block competenze_class %}{% endblock %}><a href="/nazione/?tipo=part_competenze">Elenco per competenze</a></li>
                <li {% block finalita_class %}{% endblock %}><a href="/nazione/?tipo=part_finalita">Elenco per finalit&agrave;</a></li>
                <li {% block resoconto_class %}{% endblock %}><a href="/nazione/?tipo=part_resoconto">Elenco per resoconto di bilancio</a></li>
            </ul>
            <b>Amministratori</b>
            <ul>
                <li {% block amm_tot_class %}{% endblock %}><a href="/nazione/?tipo=amm_tot">Numero totale <BR> Fasce d'et&agrave; <BR> Tipo di incarico</a></li>
                <li {% block politici_class %}{% endblock %}><a href="/nazione/?tipo=amm_politici">Elenco dei politici (OP)</a></li>
                <li {% block incarichi_class %}{% endblock %}><a href="/nazione/?tipo=amm_incarichi">Elenco ordinato per numero di incarichi</a></li>
                <li {% block compenso_class %}{% endblock %}><a href="/nazione/?tipo=amm_compenso">Elenco ordinato per compenso</a></li>
                <li {% block nominati_class %}{% endblock %}><a href="/nazione/?tipo=lista_nominati">Lista nominati</a></li>
            </ul>
        </div>


    </div>
{% endblock %}

{% block content %}
    <a name="top"></a>
    {% block table %}

        <h3>{% block table_title %}Scegli dal menu di navigazione la voce che ti interessa{% endblock %}</h3>

    {% endblock %}
    <a href="#top">Torna su</a>
{% endblock %}


