{% extends base_template %}

{% block tipologia_class %}class="active"{% endblock %}

{% block content%}

    {% block table %}
        <h3>Elenco partecipate per tipologia</h3>
        <table>

            <tr>
                <th class="tipologia">
                    Tipologia
                </th>
                <th>
                    Denominazione
                </th>
                <th>
                    Incarichi attivi
                </th>
                <th>
                    Tot Compensi incarichi
                </th>
            </tr>

            {% for p in table %}
                <tr>
                    <td class="tipologia">{{ p.tipologia_partecipata }}</td>
                    <td class="denominazione"><a href="/admin/nominati/partecipata/{{ p.codice_fiscale }}" target="_blank">{{ p.denominazione }}</a></td>
                    <td>{{ p.n_inc|default:"-"}}</td>
                    <td>{{ p.s_inc|default:"-"}}</td>
                </tr>
            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}
