{% extends base_template %}

{% block resoconto_class %}class="active"{% endblock %}

{% block content%}
    {% block table %}
        <h3>Elenco partecipate per resoconto di bilancio</h3>
        <table id="bilancio">

            <tr>
                <th>
                    Resoconto (Anno)
                </th>
                <th>
                    Denominazione
                </th>

            </tr>
            {% for b in table%}
                <tr>
                    <td class="{{ b.get_resoconto_display }}">{{ b.get_resoconto_display }} ({{ b.anno }})</td>
                    <td class="{{ b.get_resoconto_display }}"><a href="/admin/nominati/partecipata/{{ b.partecipata_cf.codice_fiscale }}" target="_blank">{{ b.partecipata_cf.denominazione }}</a></td>

                </tr>

            {% endfor %}
        </table>
    {% endblock %}
{% endblock %}
