{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">

    .field-istituzione_cf input,
    .field-ente_cf input
    { width: 100px; }

    .inline-related table
    { width: 100% }

    td.compenso_anno input,
    td.compenso_carica input,
    td.altri_compensi input,
    td.indennita_risultato input
    { width: 6em; }

</style>
{% endblock %}

{% load i18n %}
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    <li><a href="/utils/check_similars/{{ object_id }}/" class="viewsitelink" onclick="return showAddAnotherPopup(this);">Check similars</a></li>
    {% if has_absolute_url %}
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">
            {% trans "View on site" %}</a>
        </li>
    {% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}