{% extends "admin/change_form.html" %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
    #id_codice_fiscale { width: 8em }
    #id_denominazione { width: 40em }
    #id_url { width: 40em }

    .field-istituzione_cf { width: 50% }
    .field-istituzione_cf input { width: 8em; }

    .field-anno input { width: 4em }

    .field-onere_complessivo input,
    .field-percentuale_partecipazione input,
    .field-dichiarazione_inviata input
    { width: 6em; }

    .inline-related table
    { width: 100% }

    td.compenso_anno input,
    td.compenso_carica input,
    td.altri_compensi input,
    td.indennita_risultato input
    { width: 6em; }


</style>
{% endblock %}
