<!DOCTYPE html>
<html lang="it">
<head>
    <title>Open Nominati -{% block title %}{% endblock %}</title>
    {% block css_styles %}
    <style>
    body { font-family: arial, sans-serif; font-size: 1em; }
    h1, h2, h3, h4, h5 { margin-bottom: 0.2em }

    </style>
        {% comment %}
        <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">
        {% endcomment %}
    {% endblock %}



</head>

<body>

{% block sidebar %}
{%  endblock %}


<div id="header">
    {% block header %}
        {% if user.is_authenticated %}
            <div >
                <a href="{% url nominati_logout %}" id="">Logout</a><BR>
                <a href="{% url nominati_home %}">Torna alla home</a>
            </div>
        {% endif %}
    {% endblock %}
    </div>


<div id="content">
    {% block content %}{% endblock %}
</div>

<div id="footer">
    {% block footer %}
        {% if user.is_authenticated %}
            <a href="{% url nominati_home %}">Torna alla home</a>
        {% endif %}
    {% endblock %}
</div>

{% block js_footer %}
{% endblock %}

</body>
</html>
