{% extends 'base.html' %}

{% block css_styles %}
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/login.css" />
    <style>
        #header{
            background-color: #333940;
            border-bottom: solid 3px #999;
        }

        #branding h1{ color: #fff; }
        .module h2, .module caption, .inline-group h2 {
            background-color:#ccc;
            color: #333940;
        }
        a.section:link, a.section:visited { color: #666666; }
    </style>
{% endblock %}

{% block body_class %}login{% endblock %}

<!-- Header -->
{% block header %}
    <div id="branding">

        <h1 id="site-name">Backend Nominati</h1>

    </div>
{% endblock %}
<!-- END Header -->

{% block content %}
    <!-- Content -->
    <div id="content" class="colM">
        <div id="content-main">
            <form method="post" action="{% url login %}" id="login-form">
               {% csrf_token %}
                <div class="form-row">
                    <label for="id_username" class="required">{{ form.username.label_tag }}</label>
                    {{ form.username }}
                </div>
                <div class="form-row">
                    <label for="id_password" class="required">{{ form.password.label_tag }}</label>
                    {{ form.password }}
                </div>
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Accedi" />
                </div>

               <input type="hidden" name="next" value="{{ next }}" />
           </form>
        </div>
    </div>
{% endblock %}
